<a href="https://colab.research.google.com/github/Yenduri-Sai-Srikar/DATA-SCIENCE/blob/master/Reading_from_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**reading a csv file**

In [2]:
cd sample_data/

/content/sample_data

In [3]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [4]:
import pandas as pd

default case

In [5]:
df1 = pd.read_csv("mnist_test.csv")

In [6]:
df1

      7  0  0.1  0.2  0.3  0.4  ...  0.662  0.663  0.664  0.665  0.666  0.667
0     2  0    0    0    0    0  ...      0      0      0      0      0      0
1     1  0    0    0    0    0  ...      0      0      0      0      0      0
2     0  0    0    0    0    0  ...      0      0      0      0      0      0
3     4  0    0    0    0    0  ...      0      0      0      0      0      0
4     1  0    0    0    0    0  ...      0      0      0      0      0      0
...  .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
9994  2  0    0    0    0    0  ...      0      0      0      0      0      0
9995  3  0    0    0    0    0  ...      0      0      0      0      0      0
9996  4  0    0    0    0    0  ...      0      0      0      0      0      0
9997  5  0    0    0    0    0  ...      0      0      0      0      0      0
9998  6  0    0    0    0    0  ...      0      0      0      0      0      0

[9999 rows x 785 columns]

missing headers

In [9]:
df2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_1.csv")

In [10]:
df2

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

custom column header

In [15]:
df2=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_2.csv" , header=None , names=['bed','sq foot','locality','price($)'])

In [16]:
df2

   bed  sq foot    locality  price($)
0    2     1500        Good    300000
1    3     1300        Fair    240000
2    3     1900   Very good    450000
3    3     1850         Bad    280000
4    2     1640        Good    310000

non default seperators

In [19]:
df3=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_3.csv",sep=';')

In [20]:
df3

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

skip rows

In [23]:
df5 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_skiprows.csv",skiprows=2)

In [24]:
df5

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

skip footers

In [31]:
df6=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_skiprows.csv")
df6

  Filetype: CSV              Unnamed: 1  Unnamed: 2  Unnamed: 3
0           NaN  Info about some houses         NaN         NaN
1       Bedroom                Sq. foot    Locality   Price ($)
2             2                    1500        Good      300000
3             3                    1300        Fair      240000
4             3                    1900   Very good      450000
5             3                    1850         Bad      280000
6             2                    1640        Good      310000

In [32]:
df6=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_skiprows.csv",skiprows=2,skipfooter=2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [33]:
df6

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000

read only first n rows

In [28]:
df7=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/CSV_EX_1.csv",nrows=3)
df7

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000

reading in chunks(skip+nrows)

In [39]:
list_of_dataframes = []
rows_in_a_chunk = 10
num_chunks =5
df_dummy = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/Boston_housing.csv",nrows=2)
col_names = df_dummy.columns
for i in range (0,num_chunks*rows_in_a_chunk):
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATA SCIENCE/csv/Boston_housing.csv",header=0,skiprows=2)
  list_of_dataframes.append(df)

In [40]:
list_of_dataframes[0]

     0.02731     0   7.07  0.1  0.469  6.421  ...  2  242  17.8   396.9   9.14  21.6
0    0.02729   0.0   7.07    0  0.469  7.185  ...  2  242  17.8  392.83   4.03  34.7
1    0.03237   0.0   2.18    0  0.458  6.998  ...  3  222  18.7  394.63   2.94  33.4
2    0.06905   0.0   2.18    0  0.458  7.147  ...  3  222  18.7  396.90   5.33  36.2
3    0.02985   0.0   2.18    0  0.458  6.430  ...  3  222  18.7  394.12   5.21  28.7
4    0.08829  12.5   7.87    0  0.524  6.012  ...  5  311  15.2  395.60  12.43  22.9
..       ...   ...    ...  ...    ...    ...  ... ..  ...   ...     ...    ...   ...
499  0.06263   0.0  11.93    0  0.573  6.593  ...  1  273  21.0  391.99   9.67  22.4
500  0.04527   0.0  11.93    0  0.573  6.120  ...  1  273  21.0  396.90   9.08  20.6
501  0.06076   0.0  11.93    0  0.573  6.976  ...  1  273  21.0  396.90   5.64  23.9
502  0.10959   0.0  11.93    0  0.573  6.794  ...  1  273  21.0  393.45   6.48  22.0
503  0.04741   0.0  11.93    0  0.573  6.030  ...  1  273  21.0  396.90   7.88  11.9

[504 rows x 14 columns]